﻿@model IEnumerable<BusinessObjects.Entities.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Customer Management</h1>
<form asp-action="Search" method="get" class="d-flex">
    <input class="form-control me-2" type="text" placeholder="Enter Name" name="search" />
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Update</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerId">View</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a> |
                    <p>
                        <a asp-action="Create">Add</a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>*@
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Customer Id</th>
                <th scope="col">Email</th>
                <th scope="col">Customer Name</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Password</th>
                <th scope="col">Birthday</th>
            </tr>
        </thead>
        <tbody id="tableBody1"></tbody>
    </table>
</p>



