﻿@model BusinessObjects.Entities.FlowerBouquet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Error is not null)
{
    <div class="text-danger">
        @ViewBag.Error
    </div>
}
else
{
    <h1>Details</h1>

    <div>
        <h4>FlowerBouquet</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FlowerBouquetName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FlowerBouquetName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UnitsInStock)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FlowerBouquetStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FlowerBouquetStatus)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Supplier.SupplierName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Supplier.SupplierName)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.FlowerBouquetId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}

