﻿@model IEnumerable<BusinessObjects.Entities.FlowerBouquet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<form asp-action="Search" class="d-flex" method="get">
    <input class="form-control me-2" type="text" placeholder="Enter Name" name="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquetStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.SupplierName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlowerBouquetId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlowerBouquetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlowerBouquetStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FlowerBouquetId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FlowerBouquetId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FlowerBouquetId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
*@
<p>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">FlowerBouquetId</th>
                <th scope="col">FlowerBouquet Name</th>
                <th scope="col">Description</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Units In Stock</th>
                <th scope="col">FlowerBouquet Status</th>
                <th scope="col">Category Name</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
</p>